

@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

[class^="icon-"],
[class*=" icon-"] {
	height: 4.0vh;
	width: 6.0vh;
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
}

#imgbtn {
	max-width: 100%;
}

.icon-leftthick,
.icon-rightthick {
	height: 5.0vh;
	width: 7.0vh;
	vertical-align: middle;
}

.icon-gallery {
	height: 20.0vh;
	width: 20.0vw;
	min-width: 40%;
	max-width: 40% top: 50%;
	color: red;
}

#branding {
	padding-top: 15%;
	text-align: center;
	height: 10vh;
	font-size: 100%;
	top: 0;
	width: 100%;
}


/*
#settings .paper .icon-settings {
	min-height: 6.0vh;
	min-width: 5.0vw;
	padding-right: 0.7vh;
	color: #F44336;
	top: 50%;
}*/

#settings .paper h2 .icon-settings {
	height: 6.0vh;
	width: 6vh;
	color: #F44336;
	top: 50%;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
	padding: 0;
	margin: 0;
	line-height: 1;
	color: #F44336;
}

h1 {
	text-align: center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 4.5vh;
	padding-bottom: 3.0vh;
}

h2 {
	text-align: center;
	font-size: 5.0vh;
	font-weight: 300;
	letter-spacing: -1px;
	margin: 0;
}

.hidden {
	display: none;
}

#about .papers,
#privacy .papers {
	color: #484848;
	font-size: 2.5vh;
	line-height: 3.0vh;
	display: block;
	clear: both;
	margin-bottom: 2.0vh;
	padding: 2.0vh;
}

#about,
#privacy {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 100;
	opacity: 0.8;
	display: block;
	margin: 0 auto;
	overflow-y: scroll;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 3.0vh;
	padding-top: 3.0vh;
}

#about .text,
#privacy .text {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 3.5vh;
	color: white;
	display: block;
	margin: 0 auto;
	line-height: 6vh;
	padding-top: 3.0vh;
}

#footer-right {
	position: absolute;
	padding-right: 4.0vh;
	padding-bottom: 2.0vh;
	bottom: 0;
	right: 2px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 3.5vh;
}

#footer-left {
	position: absolute;
	padding-left: 2.0vh;
	padding-bottom: 2.0vh;
	bottom: 0;
	left: 2px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 3.5vh;
}

#footer-left a:hover,
#footer-right a:hover {
	color: #484848;
}

#count {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 3.5vh;
	display: block;
	margin: 0 auto;
}

.clear {
	display: none;
	clear: both;
}

html {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	width: 100%;
	max-width: 100%;
	height: 100%;
}

body {
	background: #f9f9f9;
	font-family: 'Roboto';
	font-size: 100%;
	overflow-y: scroll;
	color: #F44336;
	width: 100%;
	height: 100%;
}

.modal {
	overflow: auto;
	color: #333;
}

.upload svg {
	cursor: pointer;
	display: inline-block;
}

.upload>input {
	display: none;
}

.dropbtn {
	display: inline-block;
	position: relative;
	margin: 2vh;
	padding-top: 0;
	cursor: pointer;
	z-index: 30;
	background: red;
	position: fixed;
	height: 4.0vh;
	width: 6.0vh;
	background: red;
	-webkit-box-shadow: 0 0.5vh 2.0vh rgba(0, 0, 0, 0.3), 0 0 6.0vh rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 0.5vh 2.0vh rgba(0, 0, 0, 0.3), 0 0 6.0vh rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0.5vh 2.0vh rgba(0, 0, 0, 0.3), 0 0 6.0vh rgba(0, 0, 0, 0.1) inset;
}

.dropbtn .icon-menu:hover {
	opacity: 0.8;
	color: #f9f9f9;
	text-decoration: none;
}

.dropbtn .icon-menu {
	cursor: pointer;
	color: #f9f9f9;
}

.dropdown {}

.dropdown-content {
	padding-top: 6vh;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.show {
	display: block;
}

.menu {
	list-style: none;
	line-height: 3.5vh;
	margin: auto;
	height: 100%;
	padding-left: 0;
	width: 15em;
	display: inline-block;
	position: relative;
	margin: 1.5vh;
	padding-top: 0;
}

.menu a {
	text-decoration: none;
	display: block;
	width: 100%;
}

.menu li a {
	color: #F44336;
	padding: 6%;
	padding-left: 0;
	padding-right: 0;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 3.0vh;
}

.menu li a:hover {
	color: red;
}

 ::-webkit-input-placeholder {
	font-family: 'Roboto';
	font-size: 3.0vh;
	font-weight: 300;
}

a.fileURL:link,
a.fileURL:visited,
a.fileURL:active {
	color: #f9f9f9;
	text-decoration: none;
	font-weight: 200;
}

a.fileURL:hover {
	color: #f9f9f9;
	text-decoration: none;
	font-weight: 200;
}

.container {
	width: 100%;
	margin-bottom: 2.0vh;
	position: relative;
	/*height: 100vh;
    */
}

input[type="radio"] {
	display: none;
}

.slide {
	height: 100%;
	width: 100%;
}

.paper {
	line-height: 6.0vh;
	position: relative;
	margin-top: 2.0vh;
	margin-bottom: 2.0vh;
	background: #f9f9f9;
	text-align: left;
	padding-left: 10vh;
	font-family: 'Roboto';
	line-height: 5.0vh;
	font-weight: 300;
	font-size: 3.0vh;
}

.paper p {
	padding: 0 15% 0 15%;
	line-height: 5.0vh;
}

#savesettings {
	text-align: center;
	padding-top: 5vh;
}

#savesettings a:link,
#savesettings a:visited,
#savesettings a:active {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

#savesettings a:hover {
	color: #F44336;
	text-decoration: none;
}

.savesettings {
	text-shadow: none;
	text-transform: uppercase;
	display: block;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Roboto';
	font-weight: 400;
	padding: 1vh 1vh 1vh 1vh;
	font-size: 100%;
	min-width: 150px;
	line-height: 2;
	margin: 0 auto;
	clear: both;
	background-color: #FF0000;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#FF0000));
	background-image: -moz-linear-gradient(#FF0000, #FF0000);
	background-image: -ms-linear-gradient(#FF0000, #FF0000);
	background-image: -o-linear-gradient(#FF0000, #FF0000);
	background-image: linear-gradient(#FF0000, #FF0000);
	-moz-background-clip: padding;
	background-clip: padding-box;
	color: #FFF;
	-webkit-box-shadow: 0 0.5vh 2.0vh rgba(0, 0, 0, 0.3), 0 0 6.0vh rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 0.5vh 2.0vh rgba(0, 0, 0, 0.3), 0 0 6.0vh rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0.5vh 2.0vh rgba(0, 0, 0, 0.3), 0 0 6.0vh rgba(0, 0, 0, 0.1) inset;
}

.savesettings {
	width: 20%;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	color: #fd3838;
}

label {
	cursor: pointer;
}


/*Checkboxes styles start*/

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	font: 3.5vh/4vh 'Roboto';
	font-weight: 300;
	color: #F44336;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input[type="checkbox"]+label:last-child {
	margin-bottom: 0;
}

input[type="checkbox"]+label:before {
	content: '';
	display: block;
	width: 20px;
	min-width: 20px;
	height: 20px;
	min-height: 20px;
	border: 1px solid red;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .6;
	-webkit-transition: all .12s, border-color .08s;
	transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
	width: 10px;
	min-width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/*Checkboxes styles End*/

input[type=text],
input[type=number] {
	-webkit-appearance: none;
	width: 8.0vh !important;
	color: #F44336;
	display: block;
	clear: both;
	text-align: left;
	background-color: #f9f9f9;
	line-height: 3.0vh;
	padding: 1.0vh 1.0vh 1.0vh 2.0vh;
	display: block;
	border: none;
	font-family: 'Roboto';
	font-size: 3.0vh;
	font-weight: 300;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
	margin-left: 2.0vh;
}

input[type="text"].focus,
input[type="text"]:focus,
.focused,
input[type="number"].focus,
input[type="number"]:focus {
	/*border:1px solid #ff9422*/
	outline: none;
}

input[type="number"] {
	color: transparent;
	text-shadow: 0 0 0 #F44336;
}

 ::-webkit-input-placeholder {
	font-family: 'Roboto';
	font-size: 3.0vh;
	font-weight: 300;
}

#loading {
	padding-top: 10%;
}

#loading,
#settings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f9f9f9;
	z-index: 100;
	opacity: 0.9;
	display: block;
	margin: 0 auto;
	margin-bottom: 2.0vh;
	overflow-y: scroll;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 3.0vh;
}

#settings {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 5.5vh;
	display: block;
	margin: 0 auto;
}

#count {
	color: #F44336;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 3.5vh;
}

#onload {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 5.5vh;
	padding-top: 15%;
	display: block;
	margin: 0 auto;
}

input[type="file"] {
	display: none;
}

section:-webkit-full-screen {
	float: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
	background-color: #f00;
}

section:-moz-full-screen {
	float: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
}

section:-ms-full-screen {
	float: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
}

section:-o-full-screen {
	float: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
}

section:full-screen {
	float: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
}


/* loader start */

.loader {
	font-size: 10px;
	margin: 50px auto;
	text-indent: -9999em;
	width: 8em;
	height: 8em;
	border-radius: 50%;
	background: red;
	background: -moz-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, red 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, red 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.loader:before {
	width: 50%;
	height: 50%;
	background: red;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.loader:after {
	background: #f9f9f9;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/* loader End*/


